<section id="about" class="wow fadeIn ptb ptb-sm-80">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="h4">About Us</h3>
        <div class="spacer-15"></div>
        <p class="lead">
        FARADA CABINET INC have been designed and built for today's lifestyles and budgets; they are a blend of custom quality features and traditional stock cabinetry to offer you a new alternative choice. We have earned a reputation of excellent craftsmanship progressive design and superior services.
        </p>
      </div>
    </div>
  </div>
</section>
