  <footer class="footer" id='contact'>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="single-contact contact-opening">
            <h6>Opening Hours</h6>
            <p>open 7 days <br>
            9:30am-11:00pm</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-phone">
            <h6>Phone</h6>
            <p><a href="tel:(954)835-5575">(954) 835-5575</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-email">
            <h6>Email</h6>
            <p><a href="mailto:sales@faradecabinate.net">sales@faradecabinate.net</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-address">
            <h6>Address</h6>
            <p>1388 SE 17th St, <br>
            fort Lauderdale, FL 33316</p>
          </div>
        </div>
      </div><!-- End row -->
      <!-- End Footer Info -->
    </div>
    <hr />
    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
      <div class="container">
        <p class="">
        © 2016 <a><b>Farade Cabinate</b></a>. All Rights Reserved.
        </p>
      </div>
    </section>
    <!-- End Copyright Bar -->
  </footer>
