  <footer class="footer" id='contact'>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="single-contact contact-opening">
            <h6>Opening Hours</h6>
            <p>open 7 days <br>
            9:30am-11:00pm</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-phone">
            <h6>Phone</h6>
            <p><a href="tel:(626) 350-5902">(626) 350-5902</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-email">
            <h6>Email</h6>
            <p><a href="mailto:farada88@yahoo.com">farada88@yahoo.com</a></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-contact contact-address">
            <h6>Address</h6>
            <p>2738 Potrero Ave.,<br>
            El Monte, CA 91733</p>
          </div>
        </div>
      </div><!-- End row -->
      <!-- End Footer Info -->
    </div>
    <hr />
    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
      <div class="container">
        <p class="">
        © 2016 <a><b>Farada Cabinate</b></a>. All Rights Reserved.
        </p>
      </div>
    </section>
    <!-- End Copyright Bar -->
  </footer>
