<section class="hero">
  <div class="intro-scroll-down">
    <a class="scroll-down" href="#about">
      <span class="mouse">
        <span class="mouse-dot"></span>
      </span>
    </a>
  </div>
  <div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
    <ul class="slides">
      <li>
        <div class='bg-j bg-j-1'></div>
        <div class="overlay-hero overlay-light">
          <div class="container caption-hero dark-color">
            <div class="inner-caption">
              <h2 class="h2">Welcome to Farade Cabinate</h2>
              <p class="lead">We are a pioneering leader in the industry represents the ultimate in product diversity and trend setting design</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class='bg-j bg-j-2'></div>
        <div class="overlay-hero overlay-dark">
          <div class="container caption-hero light-color">
            <div class="inner-caption">
              <h2 class="h2">Welcome to Farade Cabinate</h2>
              <p class="lead">We are expertise in interior remodeling, both residential and commercial.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class='bg-j bg-j-3'></div>
        <div class="overlay-hero overlay-light">
          <div class="container caption-hero dark-color">
            <div class="inner-caption">
              <h2 class="h2">Welcome to Farade Cabinate</h2>
              <p class="lead">We are expertise in interior remodeling, both residential and commercial.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class='bg-j bg-j-4'></div>
        <div class="overlay-hero overlay-dark">
          <div class="container caption-hero light-color">
            <div class="inner-caption">
              <h2 class="h2">Welcome to Farade Cabinate</h2>
              <p class="lead">We are expertise in interior remodeling, both residential and commercial.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
