<header class="header">
  <div class="container">
    <div class="logo">
      <a id="logo-a-w" href="index.html">
        <span>Farade Cabinate</span>
      </a>
    </div>
    <nav class='navigation'>
      <ul>
        <li>
          <a class="scrollto" href="#about">About us</a>
        </li>
        <li>
          <a class="scrollto" href="#products">Products</a>
        </li>
        <li>
          <a class="scrollto" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
