<section id="service" class="wow fadeIn pt pt-sm-80 text-center">
  <div class="container">
    <h3>Services</h3>
    <div class="spacer-30"></div>
    <!-- work Filter -->
    <div class="row">
      <ul class="isotope-filter">
        <li><a href="#" class="categories active" data-filter="*">All</a></li>
        <% data.works.categories.each do |category| %>
          <li><a href="#" class="categories" data-filter=".<%= category.filter %>"><%= category.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="isotope-container">
      <% data.works.categories.each do |category| %>
        <% 1.upto(category.item_count) do |ind| %>
          <%= partial "product", locals: { item: item_from_cat(category, ind) } %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
